# 5. 자료구조

### list method 사용 예

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']

In [3]:
fruits.count('apple')

2

In [4]:
fruits.count('tangerine')

0

In [5]:
fruits.index('banana')

3

In [6]:
fruits.index('banana', 4)

6

In [7]:
fruits.reverse()

In [8]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']

In [9]:
fruits.append('grape')

In [10]:
fruits

['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']

In [11]:
fruits.sort()

In [12]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']

In [13]:
fruits.pop()

'pear'

In [14]:
fruits

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

### 5.1.1. 리스트를 스택으로 사용하기

In [15]:
stack = [3, 4, 5]

In [16]:
stack.append(6)

In [17]:
stack.append(7)

In [18]:
stack

[3, 4, 5, 6, 7]

In [19]:
stack.pop()

7

In [20]:
stack

[3, 4, 5, 6]

In [21]:
stack.pop()

6

In [22]:
stack

[3, 4, 5]

In [23]:
stack.pop()

5

In [24]:
stack

[3, 4]

### 5.1.2. 리스트를 큐로 사용하기

#### 큐를 구현하려면, 양 끝에서의 덧붙이기와 꺼내기가 모두 빠르도록 설계된 collections.deque 를 사용하세요

In [2]:
from collections import deque

In [3]:
queue = deque(["Eric", "John", "Michael"])

In [4]:
queue.append("Terry")

In [5]:
queue.append("Graham")

In [6]:
queue.popleft()

'Eric'

In [7]:
queue.popleft()

'John'

In [8]:
queue

deque(['Michael', 'Terry', 'Graham'])

### 5.1.3. 리스트 컴프리헨션

- 제곱수 리스트 만들기 1

In [9]:
squares = []

In [10]:
for x in range(10):
    squares.append(x**2)

In [11]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- 제곱수 리스트 만들기 2

In [12]:
squares2 = list(map(lambda x: x**2, range(10)))

In [13]:
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

- 제곱수 리스트 만들기 3

In [14]:
squares3 = [x**2 for x in range(10)]

In [16]:
squares3

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [17]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [18]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

In [19]:
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [20]:
vec = [-4, -2, 0, 2, 4]

In [21]:
[x*2 for x in vec]

[-8, -4, 0, 4, 8]

In [23]:
[x for x in vec if x >= 0]

[0, 2, 4]

In [25]:
[abs(x) for x in vec]

[4, 2, 0, 2, 4]

In [26]:
freshfruit = ['  banana', '  loganberry ', 'passion fruit  ']

In [28]:
[weapon.strip() for weapon in freshfruit]

['banana', 'loganberry', 'passion fruit']

In [29]:
[(x, x**2) for x in range(6)]

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

In [30]:
[x, x**2 for x in range(6)]

SyntaxError: invalid syntax (<ipython-input-30-a4841c5cdd7d>, line 1)

In [31]:
vec2 = [[1,2,3], [4,5,6], [7,8,9]]

In [32]:
[num for elem in vec2 for num in elem]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
from math import pi

In [34]:
[str(round(pi, i)) for i in range(1, 6)]

['3.1', '3.14', '3.142', '3.1416', '3.14159']

### 5.1.4. 중첩된 리스트 컴프리헨션

In [35]:
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

In [36]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [37]:
transposed = []

In [38]:
for i in range(4):
    transposed.append([row[i] for row in matrix])

In [39]:
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [40]:
transposed = []

In [41]:
for i in range(4):
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

In [42]:
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [43]:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

- list Comprehension 연습 2

In [2]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
odd_numbers = []

In [4]:
for number in numbers:
    if number % 2 == 1:
        odd_numbers.append(number)

In [5]:
odd_numbers

[1, 3, 5, 7, 9]

In [6]:
odd_numbers2 = [number for number in numbers if number % 2 == 1]

In [7]:
odd_numbers2

[1, 3, 5, 7, 9]

### 5.2. del 문

In [1]:
a = [-1, 1, 66.25, 333, 333, 1234.5]

In [2]:
del a[0]

In [3]:
a

[1, 66.25, 333, 333, 1234.5]

In [4]:
del a[2:4]

In [5]:
a

[1, 66.25, 1234.5]

In [6]:
del a[:]

In [7]:
a

[]

In [8]:
del a

In [9]:
a

NameError: name 'a' is not defined

### 5.3. 튜플과 시퀀스

### 5.3. 튜플과 시퀀스

In [1]:
t = 12345, 54321, 'hello'

In [2]:
t[0]

12345

In [3]:
t

(12345, 54321, 'hello')

In [4]:
u = t, (1, 2, 3, 4, 5)

In [5]:
u

((12345, 54321, 'hello'), (1, 2, 3, 4, 5))

In [6]:
t[0] = 88888

TypeError: 'tuple' object does not support item assignment

In [7]:
v = ([1, 2, 3], [3, 2, 1])

In [8]:
v

([1, 2, 3], [3, 2, 1])

In [9]:
empty = ()

In [10]:
singleton = 'hello',

In [11]:
len(empty)

0

In [12]:
len(singleton)

1

In [13]:
singleton

('hello',)

In [14]:
x, y, z = t

In [15]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [16]:
basket

{'apple', 'banana', 'orange', 'pear'}

In [17]:
print(basket)

{'banana', 'apple', 'orange', 'pear'}

In [18]:
'orange' in basket

True

In [20]:
'crabgrass' in basket

False

In [21]:
a = set('abracadabra')

In [22]:
b = set('alacazam')

In [23]:
a

{'a', 'b', 'c', 'd', 'r'}

In [24]:
a - b

{'b', 'd', 'r'}

In [25]:
a | b

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [26]:
a & b

{'a', 'c'}

In [27]:
a ^ b

{'b', 'd', 'l', 'm', 'r', 'z'}

- 집합 컴프리헨션

In [28]:
a = {x for x in 'abracadabra' if x not in 'abc'}

In [29]:
a

{'d', 'r'}

### 5.5. 딕셔너리

In [1]:
tel = {'jack': 4098, 'sape': 4139}

In [2]:
tel['guido'] = 4127

In [3]:
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [4]:
tel['jack']

4098

In [5]:
del tel['sape']

In [6]:
tel['irv'] = 4127

In [7]:
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [8]:
list(tel)

['jack', 'guido', 'irv']

In [9]:
sorted(tel)

['guido', 'irv', 'jack']

In [10]:
'guido' in tel

True

In [11]:
'jack' not in tel

False

In [13]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

- 딕셔너리 컴프리헨션

In [14]:
{x: x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

In [16]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

### 5.6. 루프 테크닉

In [18]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}

In [20]:
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [21]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [22]:
questions = ['이름', '퀘스트', '좋아하는 색깔']

In [25]:
answers = ['제타', '열려라 참깨', '파랑']

In [26]:
for q, a in zip(questions, answers):
    print('What is your {0}? It is {1}.'.format(q, a))

What is your name? It is 제타.
What is your quest? It is 열려라 참깨.
What is your favorite color? It is 파랑.

In [27]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [28]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']

In [29]:
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [30]:
import math

In [32]:
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5,
            float('Nan'), 47.8]

In [33]:
filtered_data = []

In [34]:
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

In [35]:
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

### 5.7. 조건 더 보기

비교는 연쇄할 수 있음  
a < b == c 는 a가 b보다 작고, 동시에 b가 c와 같은지 검사

  
A and not B or c 는  
(A and (not B)) or C 와 동등

  
비교의 결과나 다른 논리 표현식의 결과를 변수에 대입할 수 있습니다. 예를 들어,

In [36]:
str1, str2, str3 = '', 'Trondheim', 'Hammer Dance'

In [38]:
non_null = str1 or str2 or str3

In [39]:
non_null

'Trondheim'

In [41]:
str2

'Trondheim'

## 5.8. 시퀀스와 다른 형들을 비교하기

In [42]:
(1, 2, 3) < (1, 2, 4)

True

In [43]:
[1, 2, 3] < [1, 2, 4]

True

In [44]:
'ABC' < 'C' < 'Pascal' < 'Python'

True

In [45]:
(1, 2, 3, 4)           < (1, 2, 4)

True

In [46]:
(1, 2)                 < (1, 2, -1)

True

In [47]:
(1, 2, 3)             == (1.0, 2.0, 3.0)

True

In [48]:
(1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4)

True